html,
body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.element {
    width: 50px;
    height: 50px;
    background: url('images/background_empty.png');
    float: left;
    transition: 0.2s filter;
    padding: 3px;
    border: 1px solid black;
    filter:brightness(100%);
}
.element:hover {
    filter:brightness(70%);
    transition: 0.2s all;
}

.path {
    background: red !important;
}

.scanned{
    background: #00ff15;
}

.selected {
    filter:brightness(50%) !important;    
}

.first {
    clear: both;
}

.ball {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    pointer-events: none;
    background-size: 100%;
}

.ball.brown{
    background: url('images/brown_ball.png');
}

#game {
    margin-left: auto;
    margin-right:auto;
}

#scoreBoard {
    clear:both;
}